* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(grey, darkgrey, white);
}

.container {
    height: 100%;
    max-width: 1200px; /*Max width because if we try to add more content it will overflow*/
    margin: 0 auto; /*To bring our content in center*/
    padding: 20px;
}

.container h1 {
    margin: 20px 0; /*Top and bottom 20px  and right and left 0*/
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}    

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    filter: grayscale();
    box-shadow: 0 0 20px #333;
    object-fit: cover;
}

.card:hover { /*This hover image is on card*/
    transform: scale(1.03);
    transition: 0.5s;
    filter: drop-shadow(0 0 10px #333);
    /* box-shadow: 0 0 10px #333; */ /*Box shadow can also be used*/
}

.card:hover img { /*To remove grayscale while we hover*/
    filter: grayscale(0%);
}

.card figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    opacity: 0; /*text will be hidden*/
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0));
    transition: 0.3s;
}

.card:hover figcaption {
    opacity: 1;
    transform: scale(1.03);
}